body{
    background-color: aquamarine;
}
h1{
    background-color: black;
        color: white;
}
h2, h3, h4 {
    background-color: blue;
    color: yellow;
}
p{
    background-color: blueviolet;
    color: white;
}
p span{
    background-color: black;
    color: yellow;
}
span{
    background-color: yellow;
    color: black;
}
*{
   /* font-style: italic; */
}

#top {
    background-color: yellow;
    padding: 50px;
    text-align: center;
}
.center-content{
    background-color: palevioletred;
}
.center-content h3,
.center-content p{
    text-align: center;
}
h6 {
    font-size: 40px;
}